
    <div class="footer shadow-sm bg-success text-light">
        <div class="container">
        <div class="row">
            <div class="col-lg-4 p-4">
                <h5>Follow Us</h5>
                <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-at"></i>rentcallz@gmail.com</li>
                <li class="list-group-item"><i class="fab fa-instagram"></i>rencallz_amq</li>
                <li class="list-group-item"><i class="fab fa-facebook"></i>rencallz amq</li>
                <li class="list-group-item"><i class="fab fa-youtube"></i>rencallz official</li>
                </ul>
            </div>
            <div class="col-lg-4 p-4">
                <h5>Lorem ipsum dolor sit.</h5>
            Lorem ipsum dolor sit, amet consectetur adipis. Tempore nemo nobis doloribus atque minus, aspernatur enim itaque dignissimos iusto dolor maiores expedita illo quibusdam tempora voluptates hic quasi ut dolorem error sed quo quod! Itaque!
            </div>
            <div class="col-lg-4 p-4">
                <h5>feedback</h5>
                
                <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your Email" aria-label="Your Email" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">@gmail.com</span>
                </div>
                <div class="input-group">
                <textarea class="form-control" aria-label="With textarea" placeholder="Your message"></textarea>
                </div>
                <div class="d-grid gap-2">
                <button class="btn btn-dark text-light mt-3" type="button">Send message</button>
                </div>
            </div>
        </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>